
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musteriler</title>
</head>
<body>
    <h1>Musteriler Sayfası</h1>
    <h4>Cümle: @ViewBag.cumle</h4>
</body>
</html>
