
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musteriler</title>
</head>
<body>
    <a href="/Default/Index">Index Sayfası</a>
    <a href="/Default/Urunler">Urunler Sayfası</a>

    <h1>Musteriler Sayfası</h1>
    <h4>Cümle: @ViewBag.cumle</h4>
    <h2>@ViewBag.v</h2>
</body>
</html>
